{{ define "styles" }}
    {{ $.Scratch.Set "style_opts" (dict "src" "scss/pages/about.scss" "dest" "css/about.css") }}
{{ end }}

{{ define "main" }}

<div class="splash-container">
  <div class="splash">
    
    <h1>{{ .Params.heading }}<span class="fancy">.</span></h1>
    {{ if isset .Params "handle" }}
    <!-- <span class="handle">@{{ .Params.handle }}</span> -->
    {{ end }}
    <span class="subheading">
      <em>{{ .Params.subheading }}</em>
    </span>
    <br />
    <!-- Replace MEEEEE -->

    {{ partial "social-icons.html" .}}

    <div class="building-section">
      <p><strong>Building</strong></p>
      <div class="byuik-logos">
        <p><em>stealth mode</em></p>
      </div>
    </div>

    <div class="trusted-section">
      <p><strong>Trusted by</strong></p>
      <div class="trusted-logos">
        <a href="https://xlabs.xyz" target="_blank" rel="noopener"><img src="/xlabs.png" alt="xLabs" class="logo-image logo-xlabs" /></a>
        <a href="https://wormhole.com" target="_blank" rel="noopener"><img src="/wormhole.svg" alt="Wormhole" class="logo-image logo-wormhole" /></a>
        <a href="https://circle.com" target="_blank" rel="noopener"><img src="/circle.svg" alt="Circle" class="logo-image logo-circle" /></a>
        <a href="https://amazon.com" target="_blank" rel="noopener"><img src="/amazon.png" alt="Amazon" class="logo-image logo-amazon" /></a>
        <a href="https://aws.amazon.com" target="_blank" rel="noopener"><img src="/aws.png" alt="AWS" class="logo-image logo-aws" /></a>
        <a href="https://www.al-enterprise.com" target="_blank" rel="noopener"><img src="/alcatel-lucent.png" alt="Alcatel-Lucent" class="logo-image logo-alcatel" /></a>
      </div>
    </div>
  </div>
</div>

{{ end }}
